<!DOCTYPE html>

<html lang="en-us" class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>Comming soon - Mash Able Bootstrap4 Admin Template</title>
    <meta name="description" content="Comming soon page - flat able" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Mash Able" />
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="img/favicon.ico" /> -->
    <link rel="stylesheet" href="css/style-minimal-flat.css" />
    <!-- <script src="js/modernizr.custom.js"></script> -->
    <style>
      /* #particles-js {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
      } */
      body {
        background: #edf3f8;
      }
    </style>
  </head>

  <body>
    <!-- Canvas for particles animation -->
    <div id="particles-js"></div>
    <div class="content-slide">
      <div class="container">
        <h3>suka</h3>
      </div>
    </div>

    <!-- 
    <div id="somedialog" class="dialog">
      <div class="dialog__overlay"></div>

      <div class="dialog__content">
        <div class="header-picture"></div>

        <div class="dialog-inner">
          <h4>Notify Popup Highlight</h4>

          <p>Just write the pefect description for your launch product here.... <strong>Mash Able Product launch in next XX weeks. Enjoy !!!</strong></p>

          <div id="subscribe">
            <form action="php/notify-me.php" id="notifyMe" method="POST">
              <div class="form-group">
                <div class="controls">
                  <input type="text" id="mail-sub" name="email" placeholder="Click here to write your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'" class="form-control email srequiredField" />

                  <i class="fa fa-spinner opacity-0"></i>

                  <button class="btn btn-lg submit">Submit</button>

                  <div class="clear"></div>
                </div>
              </div>
            </form>

            <div class="block-message">
              <div class="message">
                <p class="notify-valid"></p>
              </div>
            </div>
          </div>
        </div>

        <button class="close-newsletter" data-dialog-close><i class="icon ion-android-close"></i></button>
      </div>
    </div> -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easings.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <!-- Particles effect plugin on the right -->
    <script src="js/particles.js"></script>



    <script src="js/main-flat.js"></script>
  </body>
</html>
