.nav-link:hover {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;

  position: static;
  width: 150px;
  height: 40px;
  left: 20px;
  top: 62px;

  /* Linear2 */

  background: linear-gradient(90deg, #5beb53 8.33%, #1488cc 100%);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

.welcome {
  position: absolute;
  width: 523px;
  height: 182px;
  left: 0px;
  top: 0px;

  /* Linear2 */

  background: linear-gradient(90deg, #535beb 8.33%, #1488cc 100%);
  box-shadow: 0px 13.8677px 24.1177px rgba(0, 0, 0, 0.0456112),
    0px 5.75991px 10.0172px rgba(0, 0, 0, 0.08),
    0px 2.08325px 3.62304px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.text-xs {
  position: absolute;
  width: 309.33px;
  height: 18px;
  left: 25.93px;
  top: 40px;

  font-family: "Uniform Rounded";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 18px;
  /* identical to box height, or 69% */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.text1 {
  position: absolute;
  width: 278.36px;
  height: 57px;
  left: 25.93px;
  top: 77px;

  /* Text Primary 2 */

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.card1 {
  position: static;
  width: 132px;
  height: 168px;
  left: 10px;
  top: 10px;

  /* gradient1 */

  background: linear-gradient(180deg, #535beb 26.7%, #1488cc 119.7%);
  border-radius: 16px;
}

.card2 {
  position: static;
  width: 132px;
  height: 168px;
  left: 10px;
  top: 10px;
  margin-top: 41px;

  /* gradient1 */

  background: linear-gradient(180deg, #535beb 26.7%, #1488cc 119.7%);
  border-radius: 16px;
}

.card3 {
  position: static;
  width: 132px;
  height: 168px;
  left: 10px;
  top: 10px;
  margin-top: 41px;

  /* gradient1 */

  background: linear-gradient(180deg, #535beb 26.7%, #1488cc 119.7%);
  border-radius: 16px;
}

.btn-primary {
  color: rgb(0, 0, 0);
  background-color: #ff9900;
  border-color: #ffdd00;
}

#calendar {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 368px;
  height: 825px;
  left: 1056px;
  top: 103px;
}
