@font-face {
  font-family: "Copper";
  src: url(font/Copperplate.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.card {
  border: 2px solid #ccc;
  box-shadow: 12px 12px 23px -11px rgba(114, 86, 86, 0.44);
}

.card:hover {
  border-color: rgb(16, 120, 238);
  transition: 0.5s;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(asset/dot-grid.png);
  overflow-x: hidden;
}

.container2 {
  width: 100%;
}

.head-bar {
  color: white;
  height: 69px;
  background-image: linear-gradient(
    35deg,
    rgba(43, 75, 161, 1),
    rgba(0, 212, 255, 1)
  );
  box-shadow: 0 0 13px 1px #000;
}

.navigasi {
  max-width: 1200px;
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
}

@media screen and (min-width: 750px) {
  .nav-item {
    float: right;
    text-align: center;
  }

  .nav-item ul {
    list-style: none;
  }

  .nav-item ul li {
    display: inline-block;
    padding: 5px;
    margin: 6px;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s ease;
  }

  .nav-item ul li:hover{
    background-size: 100% 2px;
  }

  .nav-item ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }

  .nav-item ul li.button {
    width: 70px;
    border: 1px solid white;
    border-radius: 20px;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 2px;
  }

  .button:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: #06bd5f;
  }
}

@media screen and (max-width: 750px) {
 .navigasi a .logo {
    display: block;
    margin: auto;
 }
 
    .nav-item {
    text-align: center;
  }

  .nav-item ul {
    list-style: none;
  }

  .nav-item ul li {
    display: inline-block;
    padding: 5px;
    margin: 6px;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s ease;
  }

  .nav-item ul li:hover{
    background-size: 100% 2px;
  }
  .nav-item ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }

 .nav-item ul li.button {
    width: 70px;
    border: 1px solid white;
    border-radius: 20px;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 2px;
  }

 .nav-item ul li.button:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: #06bd5f;
  }
}

.clear {
  clear: right;
}

